.card-block .card-title {
  color: tomato;
}

.course {
  margin-bottom: 1.5em;
  width: 100%;
  position: relative;
}

.course.sold-out .card {
  border: 2px solid tomato;
  opacity: 0.4;
}

.course.sold-out::after {
  content: "Vagas Encerradas";
  position: absolute;
  top: 0;
  right: 0;
  background: tomato;
  color: #fff;
  padding: 1em;
}

.course.last-chance .card {
  background: rgb(241, 228, 163);
}

.course .card {
  box-shadow: 2px 2px 10px #AAA;
}

.card .card-block {
  padding: 0.8em;
  position: relative;
}

.card-date {
  background: white;
  border-radius: 100%;
  box-shadow: 2px 2px 10px #AAA;
  color: #DF2E2D;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 1em;
  position: absolute;
  transform: translateY(-50%);
  right: 1em;
  top: 0;
}

.card-title {
  font-size: 1.5em;
  margin: 0 0 0.5em 0;
}
